@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  @apply w-screen h-screen overflow-hidden;
}

.icon-container {
  @apply p-1.5 hover:bg-slate-100 hover:bg-opacity-25 focus:bg-slate-100 focus:bg-opacity-25 outline-none text-slate-300 hover:text-slate-50 cursor-pointer rounded-lg flex items-center justify-center focus:outline-none focus-visible:ring-2 focus-visible:ring-slate-400;
}

.primary-btn {
  @apply inline-flex justify-center rounded-md border border-transparent bg-slate-500 px-3 py-1.5 text-sm font-medium text-slate-100 hover:bg-slate-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2;
}
.secondary-btn {
  @apply inline-flex justify-center rounded-md border border-transparent bg-slate-100 px-3 py-1.5 text-sm font-medium text-slate-900 hover:bg-slate-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2;
}
.warning-btn {
  @apply inline-flex justify-center rounded-md border border-transparent bg-red-100 px-3 py-1.5 text-sm font-medium text-red-700 hover:bg-red-500 hover:text-red-50 focus:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2;
}

/* Scrollbar Style when Screen > Tab || lg */
@media (min-width: 768px) {
  *::-webkit-scrollbar-track {
    @apply bg-slate-500 rounded;
  }

  *::-webkit-scrollbar {
    @apply bg-slate-500 w-[6px] rounded;
  }

  *::-webkit-scrollbar-thumb {
    @apply !cursor-pointer rounded bg-slate-100 transition-colors duration-200 ease-linear;
  }

  *::-webkit-scrollbar-thumb:window-inactive {
    @apply bg-slate-300;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-100;
  }
}

/* Editor */
ul[data-type='taskList'] {
  list-style: none;
  padding: 0;
}
ul[data-type='taskList'] p {
  margin: 0;
}
ul[data-type='taskList'] li {
  display: flex;
}
ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin: 0 0.5rem 0 0;
  user-select: none;
}
ul[data-type='taskList'] li > label > input {
  margin-top: 0.5rem;
  @apply overflow-hidden appearance-none w-4 h-4 checked:after:content-["🤍"] bg-slate-200 rounded-sm checked:bg-slate-400 checked:text-slate-200 focus:ring-slate-400 focus:ring-2;
}
ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
  margin: 0;
}
